.filter-tab-container {
  display: flex;
  justify-content: space-between;
  background-color: #3b4247;
  width: 40vw;
  margin-inline: auto;
  border-right: 2px solid #8e9eab;
  border-left: 2px solid #8e9eab;
  border-bottom: 2px solid #8e9eab;
  border-radius: 0 0 5px 5px;
  padding: 1rem;
  color: #fff;
  margin-left: -2.1rem;
  margin-top: 2rem;
}

.filter-tabs {
  display: flex;
  gap: 1rem;
}

p {
  margin: 0;
}
